:root {
  --color-bg: #282828;
  --color-bg-accent: #141414;
  --color-text-main: #ffffff;
  --color-primary: #ffffff;
  --wrapper-height: 87vh;
  --image-max-width: 300px;

  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}

.btn--remix img {
  margin-right: 0.5rem;
}

.btn--remix:hover {
  background-color: #d0fff1;
}

.footer {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

p {
  color: #ffffff;
  font-size: 1.25rem;
}

.title-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: space-between; /* Space items evenly with auto margins */
  border: 2px solid green; /* For debugging, can be removed later */
}

.title {
  color: #ffffff;
  font-family: 'HK Grotesk', sans-serif; /* Ensure the font family is defined */
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 105%;
}

.title-image {
  width: 100px;
  height: 100px;
  border: 2px solid green; /* For debugging, can be removed later */
  margin-left: auto; /* Push the image to the right */
  align-self: flex-start; /* Ensure image aligns at the top */
}

.illo-container {
  display: flex;
  justify-content: flex-end;
}

.color-info {
  margin-left: 5px;
}


.color-form {
  width: 90%;
  max-width: 500px;
  margin-left: 5px;
  color: #ffffff;
}

.color-form a:not(.btn--remix) {
  font-weight: bold;
  color: var(--color-text-main);
 
}


.color-form button:hover {
  cursor: pointer;
  box-shadow: -8px 4px 20px #9be7d8;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: var(--color-bg-accent);
  border: 1px solid var(--color-bg-accent);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #ffffff;
}

label {
  color: #ffffff;
  font-weight: bold;
}

.how-it-works {
  margin: 0rem auto 0;
}

.how-it-works p {
  font-size: 1rem;
}

h2 {
  color: #ffffff;
}

.poster-description {
  font-size: 25px;
}

/* Albums Grid Layout */
.albums {
  max-width: 100%;
  margin: 1rem auto 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px; /* Adjust the spacing between albums */
}

.albumContainer {
  position: relative;
  max-width: 100%;
  margin: 0; /* Remove margin to use grid gap instead */
}

.albumContainer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow effect on hover */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}


.albumContainer.selected {
    border: 3px solid #ff0000; /* Red border for selected album, adjust as needed */
    /* Optionally add other styles such as box-shadow or outline */
}

.album {
  display: block;
  max-height: 100px;
  width: 100%; /* Make sure images are responsive */
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%; /* Fill the container */
}

.albumContainer:hover .overlay {
  opacity: 1;
}

/* Pagination Controls */
.pagination {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.pagination button {
  background: var(--color-bg-accent);
  border: 1px solid var(--color-bg-accent);
  padding: 0.5rem 1rem;
  margin: 0 5px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#proceed {
    background-color:  var(--color-bg-accent); /* Default color */
    color: white;
    border: none;
    width 100px;
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#proceed:disabled {
    background-color: #cccccc; /* Grey background */
    color: #666666;           /* Grey text */
    cursor: not-allowed;      /* Change cursor to indicate disabled state */
    opacity: 0.6;             /* Reduce opacity */
}

.pagination button:hover {
  background-color: #d0fff1;
}

.design-selection h2 {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.designs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.design {
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}

.design img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

.design p {
  margin: 1.2rem 0;
  height: 10px;
}

.design.selected {
  border-color: var(--color-primary);
  background-color: var(--color-bg-accent);
}

.design:hover {
  background-color: var(--color-bg-accent);
}

 /* Custom Context Menu Styles */
      .custom-menu {
        position: absolute;
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
      }
      .custom-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
      }
      .custom-menu a:hover {
        background-color: #eee;
      }