@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
@import url("https://px.animaapp.com/648d215ff54ade17cf7651ca.648d2160b28ec4c8efe5b7a3.648d216299d0ec1b8c284cc4.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.saveButton {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --font-size-xl: 23px;
  --font-size-xxl: 30px; 
  --font-size-xxl2: 8.5px;
  --font-size-xxxxl: 10px;
  --font-size-xxxxxl: 13px;
  --font-family-inter: Arial, sans-serif;
}

.inter-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.index {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05); /* Slightly transparent background */
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 1188px;
  padding: 53px 0;
  width: 840px;
  overflow: hidden; /* Ensure that content does not overflow */
}

.blurred-background {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: url('https://cdn.glitch.global/26dbc63d-4f2c-4201-be76-34e4291f6e34/685ce954-64b3-4035-8826-fc504c816edd.image.png?v=1723058891524');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

.index .albumCover {
  height: 672px;
  margin-top: 7px;
  object-fit: cover;
  width: 686px;
}

.index .album-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  width: 82.5%;
}

.index .albumName {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 780;
  letter-spacing: 0.2px;
  text-align: left;
  margin-right: 4px;
  width: 500px;
}

.index .albumArtist {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  text-align: left;
  margin-right: 4px;
  width: 500px;
}

.index .spotifyCode {
  height: 50px;
  width: 180px;
}

.index .songPlayback {
  height: 40px;
  width: 85%;
}

.index .song-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 5px;
    width: 82%;
    height: 450px;
  }
  
  .index .song-column {
    display: flex;
    flex-direction: column;
  }

.index .songTitles {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  letter-spacing: 0.4px;
  line-height: 18px;
  font-weight: bold;
}

.index .bottom-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.index .albumRelease {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  letter-spacing: 0.2px;
  line-height: 18px;
  text-align: right;
  font-size: 18px;
}

.index .albumRelease strong {
  font-weight: bold;
}